<div class="legal-wrap">
    <div class="legal-container">
        <div class="legal-heading">
            <h1 class="legal-title">{{ page.title | upcase }}</h1>
        </div>
        <div class="legal-content">
            {{ page.content }}
        </div>
    </div>
</div>
